/* base */

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;

  line-height: 1.5;
  font-size: 16px;
  color: #2b2b2b;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  border: none;
}
ul {
  list-style: none;
}
button {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
}

input {
  font-family: inherit;
  color: inherit;
}

input::placeholder {
  font-family: inherit;
  color: inherit;
}
.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}
.section-box {
  padding: 150px 0;
}
.section__title {
  text-transform: uppercase;
  margin-bottom: 55px;
  font-weight: 300;
  line-height: 1.16;
  font-size: 42px;
}
/* header */

.header {
  background-image: url(../images/header-bg.jpg);
  background-image: image-set(
    '../images/header-bg.avif' type('image/avif'),
    '../images/header-bg.webp' type('image/webp'),
    '../images/header-bg.jpg' type('image/jpeg')
  );
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #f5f5f5;
}

.header__top {
  padding: 64px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-weight: 300;
}

.menu {
  justify-self: start;
}

.menu__btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
  position: relative;
  z-index: 10;
}

.menu__btn::after,
.menu__btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f5f5f5;
}
.menu__btn::after {
  top: 0;
}
.menu__btn::before {
  bottom: 0;
}

.menu__btn span {
  height: 2px;
  background-color: #f5f5f5;
  width: 100%;
}

.menu__list {
  display: flex;
  gap: 40px;
  font-weight: 300;
  text-transform: uppercase;
}
.logo {
  justify-self: center;
}

.header__phone {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__title {
  max-width: 835px;
  padding-top: 100px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 85px;
  line-height: 1.17;
  font-weight: 400;
}

.header__text {
  font-size: 24px;
  line-height: 1.16;
  max-width: 758px;
  margin-bottom: 30px;
}

.header__btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  font-weight: 300;
  color: #2b2b2b;
  padding: 20px 49px;
  background-color: #f5f5f5;
}

/* services */

.services {
  background-color: #171717;
  color: #f5f5f5;
}
.services__list {
  border-top: 1px solid #f5f5f5;
}
.services__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid #f5f5f5;
  padding-right: 44px;
}
.services__item-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
}
.services__item-text {
  max-width: 800px;
  width: 100%;
}

/* projects */
.projects__slider {
  padding-bottom: 50px;
  overflow: visible;
}
.projects__item {
  padding: 20px;
  border: 1px solid #d9d9d9;
  max-width: 560px;
}

.projects__item img {
  width: 100%;
  margin-bottom: 40px;
}

.projects__item-title {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.16;
}

.projects__item-desct {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.16;
}

.projects__item-text {
  margin-bottom: 30px;
}

.projects__item-link {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #171717;
  padding: 20px 100px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.16;
}

.projects__arrow {
  cursor: pointer;
  position: absolute;
  bottom: -5px;
  left: 50%;
}
.projects__arrow-prev {
  transform: translateX(-75px);
}
.projects__arrow-next {
  transform: translateX(15px);
}

/* steps */

.steps {
  display: flex;
  padding: 60px 0 100px;
  background-color: #171717;
  color: #f5f5f5;
}

.steps__title {
  max-width: 562px;
}

.steps__list {
  max-width: 562px;
  list-style: none;
  counter-reset: my-counter;
}

.steps__item {
  counter-increment: my-counter;
  padding-left: 57px;
  position: relative;
  padding-bottom: 40px;
}
.steps__item:last-child {
  padding-bottom: 0;
}
.steps__item::before {
  content: counter(my-counter);
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #f5f5f5;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}

.steps__item::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #f5f5f5;
  left: 20px;
  top: 48px;
  bottom: 8px;
}

.steps__item:last-child::after {
  display: none;
}

.steps__item-title {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 300;
  margin-bottom: 12px;
  padding-top: 6px;
}

.steps__img img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* catalog*/
.catalog__title {
  max-width: 556px;
}
.catalog__content {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 150px;
}

.catalog__form {
  max-width: 560px;
  width: 100%;
}
.catalog__form-title {
  max-width: 430px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.16;
  text-transform: uppercase;
}
.catalog__form-text {
  max-width: 430px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.16;
}

.catalog__form-input {
  display: inline-block;
  padding: 20px;
  border: 1px solid #171717;
  text-transform: uppercase;
  line-height: 1.16;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.16;
  margin-bottom: 30px;
  width: 100%;
}
.catalog__form-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.16;
  margin-bottom: 50px;
}
.catalog__form-checkbox {
  height: 17px;
  width: 17px;
  accent-color: #171717;
  margin: 0;
}
.catalog__form-btn {
  padding: 20px 54px;
  background-color: #171717;
  color: #f5f5f5;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  font-weight: 300;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery img {
  width: 100%;
}

/* media */
@media (max-width: 1300px) {
  .menu__btn {
    display: flex;
  }
  .menu__list {
    position: absolute;
    inset: 0;
    background-color: #171717;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .menu__list.active {
    transform: translateY(0);
  }
  .services__item {
    display: block;
    padding-right: 0;
  }
  .steps {
    display: block;
  }
  .steps__list {
    padding-bottom: 40px;
  }
  .catalog__content {
    display: block;
  }
  .catalog__content-img {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 1040px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 740px) {
  .header__top {
    padding: 40px 0;
  }

  .header__title {
    padding-top: 75px;
    font-size: 64px;
  }
  .section-box {
    padding: 50px 0;
  }
  .section__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .services__item {
    padding: 10px 0;
  }
  .services__item-title {
    font-size: 20px;
  }

  .projects__item {
    padding: 10px;
  }
  .projects__item img {
    margin-bottom: 20px;
  }
  .projects__item-title {
    font-size: 24px;
  }
  .projects__item-desct {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .projects__item-text {
    font-size: 15px;
  }
  .projects__item-link {
    padding: 16px 100px;
    font-size: 16px;
  }
  .steps {
    padding: 50px 0;
  }
  .catalog__content {
    margin-bottom: 50px;
  }
  .catalog__form {
    min-width: 100%;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .header__phone span {
    display: none;
  }

  .header__phone img {
    width: 24px;
  }

  .header__title {
    padding-top: 50px;
    font-size: 44px;
  }

  .header__text {
    font-size: 22px;
  }
  .header__btn {
    font-size: 16px;
    padding: 16px 49px;
  }

  .steps__item::before {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .steps__item::after {
    left: 10px;
    top: 28px;
    bottom: 8px;
  }
  .steps__item {
    padding-left: 37px;
    padding-bottom: 20px;
  }
  .steps__item-title {
    font-size: 22px;
    padding-top: 0px;
    margin-bottom: 5px;
    margin-top: -1px;
  }

  .catalog__content-img {
    margin-bottom: 20px;
  }
  .catalog__form-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .catalog__form-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .catalog__form-input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .catalog__form-label {
    margin-bottom: 20px;
  }

  .catalog__form-btn {
    padding: 15px 54px;
    font-size: 16px;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
}
